/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wedevoop-team-members-card-block {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px !important;
	.name {
		color: #000;
		font-size: 22px;
		font-weight: 500;
		margin: 5px 0;
	}

	.designation {
		color: #000;
		font-size: 16px;
		font-weight: 400;
		margin: 5px 0;
	}

	.year_of_experience {
		color: #000;
		font-size: 14px;
		font-weight: 300;
		margin: 5px 0;
	}
	
	img {
		width: 100%;
		max-width: 250px;
		border-radius: 50%;
	}
	@media screen and (min-width: 600px) and (max-width: 780px) {
		img {
			max-width: 100%;
		}
	}
}
